{
  "singleQuote": true,
  "semi": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@(components|contexts|data|hooks|custom-types)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "experimentalBabelParserPluginsList" : ["jsx", "typescript"]
}
