body,
#root,
.page-wrapper {
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
}

.pt-6 {
  padding-top: 64px;
}

.pb-6 {
  padding-bottom: 64px;
}

.pt-7 {
  padding-top: 80px;
}

.pb-7 {
  padding-bottom: 80px;
}

.pt-8 {
  padding-top: 96px;
}

.pb-8 {
  padding-bottom: 96px;
}

.pt-9 {
  padding-top: 112px;
}

.pb-9 {
  padding-bottom: 112px;
}

.pt-10 {
  padding-top: 128px;
}

.pb-10 {
  padding-bottom: 128px;
}
